<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FAQ</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/faq.css" />
<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script> 
<script src="js/index.js" type="text/javascript"></script> 
</head>

<body>
<div class="bg"></div> <!--弹框外的透明背景 搜索和页脚用到-->

<!--头部-->
<div class="header-three">
  	<div class="header header-width clearfix">
    		<h1 class="logo fl"><a href="index.html"><img src="images/logo.png" /></a></h1>
    		<ul class="user-header fr">
    			 <li class="name"><a href="javascript:;"></a></li>
    			 <li class="shop-cart"><a href="javascript:;"></a></li>
    			 <li class="search" id="search"><a href="javascript:;"></a></li>
    		</ul>
        <a href="javascript:;" class="header-pic fr"><img src="images/header-pic.png" /></a>
        <div class="nav">
            <a href="javascript:;" class="cur">诗蜜安黛</a>
            <a href="商品展示类 - 摩漾.html">摩漾</a>
            <a href="商品展示类 - 夏木.html">夏木</a>
            <a href="javascript:;">定制研发</a>
            <a href="javascript:;">项目名称</a>
            <a href="javascript:;">项目名称</a>
        </div>
  	</div>
  	<!--搜索框-->
  	<div class="search-box">
    		<div class="search-box-con">
      			<div class="search clearfix">
      			    <input type="text" class="txt" value="请输入一个关键词" />
      			    <input type="button" class="but" />
      		  </div>
      			<div class="keywords">人气搜索关键词：<a href="javascript:;">摩漾</a><a href="javascript:;">摩漾</a><a href="javascript:;">摩漾</a><a href="javascript:;">摩漾</a></div>
    		</div>
  	</div>	
</div>

<div class="HTML-con FAQ clearfix">
    <div class="tit">FAQ</div>
    <div class="fl FAQ-l">
        <a href="javascript:;" class="cur">FAQ</a>
        <a href="javascript:;">联系我们</a>
        <a href="javascript:;">工作招聘</a>
        <a href="javascript:;">区域合作</a>
        <a href="javascript:;">隐私政策</a>
        <a href="javascript:;">合作伙伴</a>
        <a href="javascript:;">法律声明</a>
    </div>
    <div class="fr FAQ-r">
        <div class="acd-list">
            <h2>快递费用是多少？</h2>
            <div class="acd-content">
                <p>法国娇兰官网对于每笔订单采用统一运费的计费方式，您的每一笔低于RMB 800元的订单将需支付人民币15元作为运费。官网免邮活动期间不收取运费。</p>
                <em class="up">︿ 向上收起 </em>
            </div>
        </div>
        <div class="acd-list">
            <h2>您希望递送到另一个地址</h2>
            <div class="acd-content">
                <p>法国娇兰官网对于每笔订单采用统一运费的计费方式，您的每一笔低于RMB 800元的订单将需支付人民币15元作为运费。官网免邮活动期间不收取运费。</p>
                <em class="up">︿ 向上收起 </em>
            </div>
        </div>
        <div class="acd-list">
            <h2>你想修改您的收货地址</h2>
            <div class="acd-content">
                <p>法国娇兰官网对于每笔订单采用统一运费的计费方式，您的每一笔低于RMB 800元的订单将需支付人民币15元作为运费。官网免邮活动期间不收取运费。</p>
                <em class="up">︿ 向上收起 </em>
            </div>
        </div>
        <div class="acd-list">
            <h2>您想将订单包裹递送到海外</h2>
            <div class="acd-content">
                <p>法国娇兰官网对于每笔订单采用统一运费的计费方式，您的每一笔低于RMB 800元的订单将需支付人民币15元作为运费。官网免邮活动期间不收取运费。</p>
                <em class="up">︿ 向上收起 </em>
            </div>
        </div>
        <div class="acd-list">
            <h2>退货和退款</h2>
            <div class="acd-content">
                <p>法国娇兰官网对于每笔订单采用统一运费的计费方式，您的每一笔低于RMB 800元的订单将需支付人民币15元作为运费。官网免邮活动期间不收取运费。</p>
                <em class="up">︿ 向上收起 </em>
            </div>
        </div>
        <div class="acd-list">
            <h2>您想对订单中的部分产品进行退货，或您想对整个订单进行退货</h2>
            <div class="acd-content">
                <p>法国娇兰官网对于每笔订单采用统一运费的计费方式，您的每一笔低于RMB 800元的订单将需支付人民币15元作为运费。官网免邮活动期间不收取运费。</p>
                <em class="up">︿ 向上收起 </em>
            </div>
        </div>
        <div class="acd-list">
            <h2>退款所需的时间和退款方式</h2>
            <div class="acd-content">
                <p>法国娇兰官网对于每笔订单采用统一运费的计费方式，您的每一笔低于RMB 800元的订单将需支付人民币15元作为运费。官网免邮活动期间不收取运费。</p>
                <em class="up">︿ 向上收起 </em>
            </div>
        </div>
        <div class="acd-list">
            <h2>收到的订单包裹中少了一个产品</h2>
            <div class="acd-content">
                <p>法国娇兰官网对于每笔订单采用统一运费的计费方式，您的每一笔低于RMB 800元的订单将需支付人民币15元作为运费。官网免邮活动期间不收取运费。</p>
                <em class="up">︿ 向上收起 </em>
            </div>
        </div>
        <div class="acd-list">
            <h2>您收到的产品有损坏</h2>
            <div class="acd-content">
                <p>法国娇兰官网对于每笔订单采用统一运费的计费方式，您的每一笔低于RMB 800元的订单将需支付人民币15元作为运费。官网免邮活动期间不收取运费。</p>
                <em class="up">︿ 向上收起 </em>
            </div>
        </div>
        <div class="acd-list">
            <h2>您没有收到退款</h2>
            <div class="acd-content">
                <p>法国娇兰官网对于每笔订单采用统一运费的计费方式，您的每一笔低于RMB 800元的订单将需支付人民币15元作为运费。官网免邮活动期间不收取运费。</p>
                <em class="up">︿ 向上收起 </em>
            </div>
        </div>
    </div>
</div>

<!--页脚-->
<div class="footer">
    <div class="index-footer">
   	    <div class="fl footer-left">
   	   	    <a href="javascript:;">FAQ</a>
   	   	    <a href="javascript:;">联系我们</a>
   	   	    <a href="javascript:;">工作招聘</a>
   	   	    <a href="javascript:;">区域合作</a>
   	   	    <a href="javascript:;">隐私政策</a>
   	   	    <a href="javascript:;">合作伙伴</a>
   	   	    <a href="javascript:;">法律声明</a>
   	   	    <a href="javascript:;" class="map">网站地图</a>
   	    </div>
   	    <div class="fr footer-right">
   	   	    <span>Copyright © 众恒信合</span>
   	    </div>
    </div>
    <div class="footer-tk footer-Itk">
        <div class="tit">
          <h3>网站地图</h3>
          <em class="close"></em>
        </div>
        <div class="footer-tk-con clearfix">
          <a href="javascript:;">FAQ</a>
          <a href="javascript:;">联系我们</a>
            <a href="javascript:;">工作招聘</a>
            <a href="javascript:;">区域合作</a>
            <a href="javascript:;">隐私政策</a>
            <a href="javascript:;">合作伙伴</a>
            <a href="javascript:;">法律声明</a>
            <a href="javascript:;">网站地图</a>
            <a href="javascript:;">新闻中心</a>
            <a href="javascript:;">说明书</a>
            <a href="javascript:;">美容文章</a>
            <a href="javascript:;">案例库</a>      
        </div>
    </div>
</div>


</body>
</html>
