	
.page {
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    line-height: 26px;
    margin: 10px;
}


.page-total {
    float: left;
    line-height: 26px;
    margin: 10px 10px 0;
    display: block;
    float: right;
}
.page span {
    float: left;
    margin-left: 5px;
}

.page .pageSel {
    float: left;
    display: block;
    color: #666;
    margin: 0 0 0 10px;
    border: 1px solid #d6dee3;
    padding: 4px;
    font-size: 12px;
    height: 26px;
}
.page-number {
    margin-left: 130px;
}

.page .pn {
    float: right;
}
.page .pn, .page .pn a {
    margin-left: 5px;
}

.page .ui-pager-next, .page .ui-pager-prev {
    margin-left: 5px;
}

.ui-pager-next, .ui-pager-prev {
    background: url(/view/order/images/icon8.png) no-repeat;
    display: inline-block;
    width: 25px;
    height: 0;
    padding-top: 25px;
    overflow: hidden;
    cursor: pointer;
}

.ui-pager-next {
    background-color: #fafafa;
    border: 1px solid #c7ced1;
    background-position: 10px -51px;
}
.ui-pager-prev {
    background-color: #fafafa;
    border: 1px solid #c7ced1;
    background-position: 9px -34px;
}

.ui-pager-inp {
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #d6dee3;
    color: #555;
    width: 30px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    outline: 0;
    font-family: verdana,'ו','Microsoft Yahei',Tahoma,Arial;
    margin-left: 5px;
    font-size: 12px;
}
.table-bordered td {
	border:none;
    border-top: 1px solid #ddd;
}